@import '@transferwise/neptune-css/src/less/variables/_colors.less';

.tw-checkbox-check {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 8px;
  &::before {
    position: absolute;

    top: 50%;
    height: 35%;
    width: 4px;

    left: 7px;
    background: #fff;
    content: '';
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
  &::after {
    position: absolute;
    left: 7px;
    bottom: 3px;
    height: 4px;
    width: 75%;
    background: #fff;
    content: '';
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
}
