@import '@transferwise/neptune-css/src/less/variables/_transitions.less';
@import '@transferwise/neptune-css/src/less/variables/_colors.less';

.switch {
  display: inline-flex;
  width: 44px;
  height: 24px;
  z-index: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle;
  border: 1px solid #d3d5d8;
  box-sizing: border-box;
  border-radius: 15.5px;
  align-items: center;
  padding: 4px;
  &--thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #d3d5d8;
    transition: var(--transition-transform);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--unchecked {
    .switch--thumb {
      transform: translateX(0);
    }
  }
  &--checked {
    background: var(--color-accent);
    .switch--thumb {
      border: none;
      transform: translateX(100%);
    }
  }

  > input {
    opacity: 0;
    display: none;
    position: absolute;
    left: -100%;
  }
}

.close-mark {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 1;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

.close-mark:before,
.close-mark:after {
  position: absolute;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #d3d5d8;
}
.close-mark:before {
  transform: rotate(45deg);
}
.close-mark:after {
  transform: rotate(-45deg);
}

.tick-mark {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 8px;
  &::before {
    position: absolute;
    left: 3px;
    top: 50%;
    height: 50%;
    width: 2px;
    background: var(--color-accent);
    content: '';
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
  &::after {
    position: absolute;
    left: 3px;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--color-accent);
    content: '';
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
}
