@import '@transferwise/neptune-css/src/less/variables/_transitions.less';
@import '@transferwise/neptune-css/src/less/variables/_colors.less';

.switch {
  display: inline-flex;
  width: 44px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 16px;
  align-items: center;
  padding: 4px;

  &--thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background: var(--color-text-control);
    transition: var(--transition-transform);
    display: flex;
    justify-content: center;
    align-items: center;
    .tw-icon {
      color: var(--brand-smoke);
      height: 16px;
      width: 16px;
    }
  }
  &--unchecked {
    border: 1px solid var(--brand-smoke);
    .switch--thumb {
      transform: translateX(0%);
    }
  }
  &--checked {
    background: var(--color-accent);
    .switch--thumb {
      transform: translateX(125%);
      .tw-icon {
        color: var(--color-accent);
        svg > path:nth-of-type(2) {
          display: none;
        }
      }
    }
  }

  > input {
    opacity: 0;
    display: none;
    position: absolute;
    left: -100%;
  }
}
