name: Deploy on Event
on:
  repository_dispatch:
    types: [deploy-docs]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
          registry-url: https://registry.npmjs.org
      - run: yarn setup
      - run: yarn docs:build
      - run: yarn docs:deploy-to-branch
